
<section
  class="w-full max-w-[850px] bg-white border border-gray-300 rounded-lg p-8 grid grid-cols-2 gap-x-6 gap-y-4 shadow"
>
  <div class="col-span-1">
    <label class="block text-sm font-medium mb-1" for="city">City</label>
    <input
      type="text"
      id="city"
      placeholder="Enter city"
      class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-1 focus:ring-purple-500"
    />
  </div>

  <div class="col-span-1">
    <label class="block text-sm font-medium mb-1" for="state">State</label>
    <input
      type="text"
      id="state"
      placeholder="Enter state"
      class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-1 focus:ring-purple-500"
    />
  </div>

  <div class="col-span-1">
    <label class="block text-sm font-medium mb-1" for="country">Country</label>
    <input
      type="text"
      id="country"
      placeholder="Enter country"
      class="w-full border border-gray-300 rounded-md px-4 py-2 focus:outline-none focus:ring-1 focus:ring-purple-500"
    />
  </div>

  <div class="col-span-2 flex justify-center gap-6 mt-4">
    <button
      id="cancelLocationCreate"
      class="border border-[#191970] px-6 py-2 rounded-md hover:cursor-pointer"
    >
      Cancel
    </button>
    <button
      id="createLocationBtn"
      class="bg-gradient-to-r from-[#46006e] to-[#0a0417] text-white px-6 py-2 rounded-md hover:cursor-pointer"
    >
      Create
    </button>
  </div>
</section>

