<div class="ticket-card h-[140px] rounded-[10px] mt-[30px] border bg-[#F8F8FF] flex justify-center items-center">
    <img src="THUMBNAIL_URL" alt="Event Poster" class="h-[140px] w-[137px] rounded-l-[10px]">
    <div class="w-[100%] h-[93px] flex justify-between items-center rounded-[5.24px] ml-[-20px] bg-[#F8F8FF]">
        <div class="flex justify-center items-center">
            <div class="flex flex-col font-[700] py-[6.28px] px-[8.38px]">
                <p class="ticket-date text-[#c5c4c4] text-[29.33px]" style="line-height: 30px;">DATE <span>th</span></p>
                <p class="ticket-month" style="letter-spacing: 8px;">MONTH</p>
            </div>
            <div class="border-[1px] h-[93px]"></div>
            <div class="pl-[10px]">
                <p class="ticket-title">EVENT TITLE</p>
                <p><span class="text-[#6C4FAF]">Seat No. -</span> <span class="ticket-seats">SEATS</span></p>
                <p><span class="text-[#6C4FAF]">Venue name</span> <span class="ticket-venue">VENUE</span></p>
            </div>
        </div>
        <div class="pr-[25px] text-center">
            <p class="bg-gradient-to-r from-[#0A0418] to-[#45006E] rounded-[21px] text-white px-[15px] text-[15px]">
                Comedy
            </p>
            <p class="ticket-quantity text-[18px]">Quantity: <span>QTY</span></p>
            <p class="ticket-price text-[20px]" style="font-weight: 600;
        color: #3B015E; 
        background-image: linear-gradient(180deg, #3B015E 50%, #7A02C4 77%); 
        background-clip: text; 
        -webkit-background-clip: text; 
        -webkit-text-fill-color: transparent;">
                RS. <span>PRICE</span>
            </p>
        </div>
    </div>
</div>